*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 10px;
}

body{
  font-family: sans-serif;
  height: 100vh;;
}
ul {
  list-style: none;
}

header{
  background: rgba(6,6,6,0.3);
}
header h3 {
  font-size: 2.5rem;
}

nav ul {
display: flex;
/* width: 90%; */
justify-content: flex-end;
list-style: none;
}

nav ul li:hover  {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
nav ul li a  {
text-decoration: none;
font-size: 1.5rem;
padding: .5rem;
margin-right: 1.5rem;
color: #000;
transition: all .2s;
}
nav ul li a:hover  {
transition: all .2s ease-in-out;
color: steelblue;
transform: scale(2.2);
}

.container {
  margin: 12rem auto;
  width: 80%;
  padding: 3rem;
  text-align: center
}

.container h1{
  font-size: 3.4rem;
  margin: 1.3rem 0;
}

.container h3 {
  font-size: 2.6rem;
}
.container p {
  font-size: 1.8rem;
  padding: 2rem;
}

.container ul li {
  font-size: 2rem;
  margin: 1rem 0;
}
